@model UserRole


<div class="container">
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <h2>User Role Details</h2>
        </div>
        <div class="panel-body" style="margin-left:15px">
            <div class="row">
                <label class="control-label">Role ID:</label>
                <label class="control-label">@Model.RoleID</label>
            </div>
            <div class="row">
                <label class="control-label">Role Name:</label>
                <label class="control-label">@Model.RoleName</label>
            </div>
            <div class="row">
                <label class="control-label">Role Description:</label>
                <label class="control-label">@Model.RoleDesc</label>
            </div>
            <hr />
            <div class="row">
                <a asp-action="EditRole" asp-route-roleID="@Model.RoleID" class="btn btn-success">Edit</a>
                <a asp-action="Index" class="btn btn-default">Back To List</a>
            </div>
        </div>
    </div>
</div>