@model UserRole


<div class="container">
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <h2>User Role Details</h2>
        </div>
        <div class="panel-body" style="margin-left:15px">
            <div class="row">
                <label>Role ID:</label>
                <label>@Model.RoleID</label>
            </div>
            <div class="row">
                <label>Role Name:</label>
                <label>@Model.RoleName</label>
            </div>
            <div class="row">
                <label>Role Description:</label>
                <label>@Model.RoleDesc</label>
            </div>
        </div>
    </div>
</div>