@model UserRole

<div class="container">
    <h3>Edit User Role</h3>
    <hr style="border:1px solid" />

    <form method="post" asp-action="UpdateRole"> 
            <div class="col-md-6">
                <div class="row">
                    <input type="hidden" asp-for="RoleID" /> <!--We need this later for post-->
                    <div class="form-group">
                        <label class="control-label" asp-for="RoleName"></label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="RoleDesc"></label>
                        <input asp-for="RoleDesc" class="form-control" />
                        <span asp-validation-for="RoleDesc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">Update Record</button> 
                        <a asp-action="Index" class="btn btn-primary">Back To List</a>
                    </div>
                </div>
            </div>
    </form>
</div>


