<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

  

</head>
<body>
   

        <div class="row first_col">Footer</div>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Employee Management App</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li>
                    <a asp-controller="UserRole" asp-action="Index">Manage Roles</a>
                    @*<a href="UserRole/Index">Manage Roles</a>*@
                </li>
                <li>
                    <a asp-controller="User" asp-action="Index">User</a>
                    </li> 
             
            </ul>
        </div>
    </nav>

    <div class="container">
        <div style="margin-top:10%"></div>
            @RenderBody()
    </div>


    
    
</body>
<script src="~/js/jquery-3.7.0.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
</html>
