<html>
<head>
    <title>My App</title>
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <h2>Hello World!</h2>
    </div>
 </body>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery-3.7.0.min.js"></script>

</html>
